*{
    -fx-background-color: #353535;
    -fx-text-fill: white;
}

.button{
    -fx-focus-traversable: false;
    -fx-background-color: #0A9951;
    -fx-text-fill: white;
}

.hyperlink{
    -fx-text-fill: #0A9951;
}

.label{
    -fx-font-size: 14px;
}

.text-field, .text-area, .combo-box, .table-view{
    -fx-padding: 1px;
    -fx-background-color: #0A9951;
    -fx-text-fill: white;
}

#transaction_menu, #overview_menu, #add_menu, #settings_menu{
    -fx-background-color: #0A9951;
}

#transaction_menu .button, #overview_menu .button, #add_menu .button, #settings_menu .button{
    -fx-background-color: #353535;
    -fx-text-fill: white;
}

#transaction_menu .button:hover, #overview_menu .button:hover, #add_menu .button:hover, #settings_menu .button:hover{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.button:hover{
    -fx-text-fill: black;
    -fx-background-color: #bbbcbf;
}

#dateContent{
    -fx-background-color: #0A9951;
}



